.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #0d081e;
}

input {
  width: 250px;
  height: 30px;
  border: none;
  border-bottom: 1px solid white;
  padding: 0 10px;
  background: none;
  color: white;
  outline: none;
}

.enter {
  margin-left: 10px;
  background: none;
  font-size: 12px;
  height: 30px;
  width: 100px;
  color: azure;
  border: 1px solid azure;
}

.enter:hover{
  color: #0f0929;
  background-color: aliceblue;
  cursor:alias;
}

.todo-item {
  position: absolute;
  cursor: move;
  min-width: 215px;
  color: #090422;
  padding: 1em;
  border-radius: 7px;
}

.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  font-weight: bold;
  color: #090422;
}

.delete:hover {
  font-style: italic;
  color: #fff;
  cursor: pointer;
}


